body{
    background-color: #f7e9b0;
}
.center{
    margin: auto;
    width: 30%;
    text-align: center;
}
.center h2{
    border-style: dashed;
}
.center h1{
    text-transform: uppercase;
}
.center p{
    text-align: justify;
    font: small-caps bold 12px/30px;
}
#a{
    text-decoration: line-through;
    background-color: yellow;
}
#b{
    background-color: yellowgreen;
}
#photo{
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
blockquote{
    font:small-caps block 12px/30px;
}