body {
    background-color: #f7e9b0;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  .page {
    width: 30%;
    margin: auto;
  }
  img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  #profile {
    text-align: center;
    border-style: inset;
    text-transform: uppercase;
  }
  #biodata {
    text-align: center;
    border-style: inset;
    text-transform: uppercase;
  }
  
  del {
    background-color: white;
  }
  
  #motto {
    text-align: center;
    border-style: inset;
    text-transform: uppercase;
  }
  
  .page p {
    text-align: justify;
  }
  
  p {
    font: 15px Arial, sans-serif;
  }
  blockquote {
    font: 15px Arial, sans-serif;
  }
  
  #date {
    display: none;
  }
  